/* #Fonts
================================================== */
@font-face {
  font-family: "open-sans";
  font-weight: 400;
  src: url("../font/OpenSansHebrew-Regular.ttf");
}

@font-face {
  font-family: "open-sans";
  font-weight: 600;
  src: url("../font/OpenSansHebrew-Bold.ttf");
}

/* #Global
================================================== */
body {
  font-family: 'open-sans', sans-serif;
  font-weight: 400;
  line-height: 1.4;
}

.text-red {
  color: #D9000D;
}

@media (max-width: 1023.98px) {
  body {
    padding-bottom: 32vw;
  }
}

/* #Btns
================================================== */
.btn {
  font-size: 1.3vw;
  height: 3.125vw;
  border-radius: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 13.8vw;
}

.btn.btn-primary {
  color: white;
  background-image: linear-gradient(to bottom, #D9000D, #FF00C4);
}

.btn.btn-secondary {
  color: white;
  background-image: linear-gradient(to bottom, #1A5FA8, #CE00FF);
}

.btn.btn-tertiary {
  background-image: linear-gradient(to bottom, #CECECE, #E5E5E5);
  color: black;
}

.btn.btn-tertiary.active,
.btn.btn-tertiary:hover {
  background-image: linear-gradient(to bottom, #D9000D, #FF00C4);
  color: white;
}

@media (max-width: 1023.98px) {
  .btn {
    font-size: 4.1vw;
    height: 9.66vw;
    width: 42.5vw;
  }
}

/* #Sidebar
================================================== */
.sidebar {
  background-image: url('../img/global/sidebar-bg.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sidebar .desktop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2.5vw 2.27vw 0 2.27vw;
}

.sidebar .desktop img {
  margin-bottom: 2.9vw;
}

.sidebar .desktop h2 {
  margin-bottom: 1.5vw;
}

.sidebar input,
.sidebar textarea {
  color: black;
  transition: all .4s ease;
  width: 100%;
  background-color: white;
  border: none;
  border-radius: .5vw;
  resize: none;
  padding: .5vw;
} 

.sidebar input {
  height: 2.5vw;
  margin-bottom: 1.8vw;
}

.sidebar input::placeholder,
.sidebar textarea::placeholder {
  color: #909090;
}

.sidebar .form {
  margin-bottom: 3.125vw;
}

.sidebar .btns {
  text-align: center;
}

.sidebar .btns p {
  margin: 1vw 0;
}

@media (min-width: 1024px) {
  .sidebar {
    width: 22.44%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
}
 
@media (max-width: 1023.98px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 4.6vw 0 7.24vw 0;
  }

  .sidebar .desktop {
    display: none;
  }

  .sidebar .btns {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .sidebar h2 {
    text-align: center;
    margin-bottom: 2vw;
  }

  .sidebar .btns p {
    margin: 0 2.65vw;
  }
}

/* #Sidebar Popup
================================================== */
.sidebar .popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .15);
  transition: all .4s ease;
  z-index: 11000;
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;

  display: none;
}

.sidebar .popup.show {
  opacity: 1;
  visibility: visible;
}

.sidebar .popup .wrapper {
  width: 82%;
  background-color: #F5F2F2;
  border-radius: 6vw;
  box-shadow: 0 0 26px rgba(0, 0, 0, .42);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;

  padding: 4.83vw 5.8vw 12.4vw 5.8vw;
}

.sidebar .popup input {
  width: 100%;
  border-radius: 2.41vw;
  padding: 0 2.41vw;
  flex: 0 0 9.17vw;
} 

.sidebar .popup input {
  height: 9.17vw;
  margin-bottom: 3.14vw;
}

.sidebar .popup textarea {
  border-radius: 2.41vw;
  padding: 2.41vw;
}

.sidebar .popup .wrapper > img {
  padding: 0 6vw;
  margin-bottom: 10vw;
}

.sidebar .popup .btn {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) translateY(50%);
}

.sidebar .popup .close {
  position: absolute;
  top: 4.83vw;
  right: 3.6vw;
}

.sidebar .popup .close img {
  width: 2.65vw;
}

@media (max-width: 1023.98px) {
  .sidebar .popup {
    display: block;
  }
}

/* #Main
================================================== */
.main {
  flex-grow: 1;
  width: 77.56%;
}

@media (max-width: 1023.98px) {
  .main {
    width: 100%;
  }
}

/* #Header
================================================== */
.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 77.56%;
  padding: 0 2.6vw;
  z-index: 10000;
}

.header-container {
  padding: 1.3vw 2.6vw;
  transition: all .4s ease;
  border-bottom-left-radius: 2vw;
  border-bottom-right-radius: 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-white .header-container {
  background-color: white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .1);
}

.header-links ul {
  display: flex;
  align-items: center;
}

.header-links ul li:not(:last-child) {
  margin-left: 4vw;
}

.header-contact a {
  display: flex;
  align-items: center;
}

.header-contact img {
  width: 1.77vw;
  margin-right: .25vw;
}

.header-logo img {
  width: 23.38vw;
}

@media (max-width: 1023.98px) {
  .header {
    width: 95%;
    padding: 0;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  .header-container {
    padding: 3.14vw;
    border-bottom-left-radius: 3.13vw;
    border-bottom-right-radius: 3.13vw;
  }
  
  .header-contact img {
    width: 3.62vw;
    margin-right: 1vw;
  }
  
  .header-logo img {
    width: 51.93vw;
  }
}

/* #Banner
================================================== */
.banner {
  position: relative;
}

.banner .img img,
.banner .img picture {
  width: 100%;
}

.banner .text {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 27.34vw;
  transform: translate(-125%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  line-height: 1;
}

.banner h1 span {
  display: block;
}

.banner p {
  margin: .75vw 0 1.25vw 0;
}

@media (max-width: 1023.98px) {
  .banner .text {
    top: 50%;
    left: 50%;
    width: 72.5%;
    transform: translate(-50%, -50%);
  }
  
  .banner p {
    margin: .75vw 0 63.5vw 0;
  }
}

/* #Banner 2
================================================== */
.banner-2 {
  position: relative;
}

.banner-2 .img img,
.banner-2 .img picture {
  width: 100%;
}

/* #Logos 1
================================================== */
.logos-1 {
  background-image: url('../img/home/logos-1-bg.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top;
  padding: 5vw 5.88vw 0 5.88vw;
}

.logos-1 h2 {
  text-align: center;
  margin-bottom: 3.125vw;
}

.logos-1 ul {
  display: flex;
  flex-wrap: wrap;
}

.logos-1 ul li {
  flex: 0 0 16.66666%;
  margin-bottom: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logos-1 img {
  width: 8vw;
  height: 3vw;
  object-fit: contain;
  object-position: center;
}

@media (max-width: 1023.98px) {
  .logos-1 {
    background-size: 300% auto;
    padding: 8.2vw 3vw 0 3vw;
  }
  
  .logos-1 h2 {
    width: 65%;
    margin: 0 auto 6vw auto;
  }
  
  .logos-1 ul li {
    flex: 0 0 25%;
    margin-bottom: 5vw;
  }
  
  .logos-1 img {
    width: 16.9vw;
    height: 7.25vw;
  }
}

/* #Logos 2
================================================== */
.logos-2 {
  padding: 3.9vw 5.2vw;
}

.logos-2 h2 {
  text-align: center;
  margin-bottom: 2.4vw;
}

.logos-2-menu {
  margin-bottom: 2.25vw;
}

.logos-2-menu,
.logos-2-menu .filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.logos-2-menu select {
  font-size: 1.3vw;
  height: 3.125vw;
  border-radius: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1vw 0 2vw;
  appearance: none;
  background-image: url('../img/icons/chevron-down.svg');
  background-repeat: no-repeat;
  background-size: 1vw auto;
  background-position: .5vw 52%;
  border: 3px solid black;
  background-color: white;
}

.logos-2-menu select,
.logos-2-menu .btn:not(:last-child) {
  margin-left: .6vw
}

.logos-2-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.6vw;
}

.logos-2-footer .collapse-toggler {
  text-decoration: underline;
}

.logos-2 .collapse {
  min-height: 29vw;
}

.logos-2 .collapse ul {
  display: flex;
  flex-wrap: wrap;
  margin: -.65vw;
}

.logos-2 .collapse ul li {
  flex: 0 0 16.666666%;
  padding: .65vw;
}

.logos-2 .collapse ul li > div {
  border: 1px solid #6F7070;
  border-radius: 1vw;
  overflow: hidden;
  width: 100%;
  height: 4.68vw;
}

.logos-2 .collapse ul li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 1023.98px) {
  .logos-2 {
    padding: 10vw 2.5vw 14vw 2.5vw;
  }
  
  .logos-2 h2 {
    margin-bottom: 4.3vw;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .logos-2-menu {
    margin-bottom: 7.25vw;
  }
  
  .logos-2-menu select {
    font-size: 4.1vw;
    height: 9.66vw;
    padding: 0 2.89vw 0 7.25vw;
    background-size: 4vw auto;
    background-position: 2vw 52%;
    margin-bottom: 2vw;
  }

  .logos-2-menu .btn {
    padding: 0 2.89vw;
    width: auto;
    margin-bottom: 2vw;
  }
  
  .logos-2-menu select,
  .logos-2-menu .btn:not(:last-child) {
    margin-left: 2vw;
  }
  
  .logos-2-footer {
    margin-top: 7.25vw;
  }
  
  .logos-2 .collapse {
    min-height: 72vw;
  }
  
  .logos-2 .collapse ul {
    margin: -1.5vw;
  }
  
  .logos-2 .collapse ul li {
    flex: 0 0 33.333333%;
    padding: 1.5vw;
  }
  
  .logos-2 .collapse ul li > div {
    border-radius: 500px;
    height: 12vw;
  }
}

/* #Logos 2 Popup
================================================== */
.logos-2 .popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .15);
  transition: all .4s ease;
  z-index: 11000;
  display: flex;
  align-items: center;

  opacity: 0;
  visibility: hidden;
}

.logos-2 .popup.show {
  opacity: 1;
  visibility: visible;
}

.logos-2 .popup .wrapper {
  width: 33.43vw;
  height: 33.43vw;
  background-color: white;
  border-radius: 6vw;
  box-shadow: 0 0 26px rgba(0, 0, 0, .42);
  margin-right: 22.5vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.logos-2 .popup-logo img {
  width: 12vw;
  height: 12vw;
  object-fit: contain;
  object-position: center;
  margin-bottom: 1.25vw;
}

.logos-2 .popup-gift img {
  width: 100%;
  margin-bottom: 1.3vw;
}

.logos-2 .popup p {
  padding: 0 2.4vw
}

.logos-2 .popup p:not(:last-child) {
  margin-bottom: 1.5vw;
}

.logos-2 .popup .close {
  position: absolute;
  top: 2.7vw;
  right: 3.5vw;
}

.logos-2 .popup .close img {
  width: 1.3vw;
}

@media (max-width: 1023.98px) {
  .logos-2 .popup {
    justify-content: center;
  }
  
  .logos-2 .popup .wrapper {
    width: 95%;
    height: auto;
    border-radius: 8.2vw;
    margin-right: 0;
    padding: 5vw 0;
  }
  
  .logos-2 .popup-logo img {
    width: 36vw;
    height: 36vw;
    margin-bottom: 5vw;
  }
  
  .logos-2 .popup-gift img {
    width: 100%;
    margin-bottom: 5vw;
  }
  
  .logos-2 .popup p {
    padding: 0 4vw
  }
  
  .logos-2 .popup p:not(:last-child) {
    margin-bottom: 5vw;
  }
  
  .logos-2 .popup .close {
    top: 5vw;
    right: 7vw;
  }
  
  .logos-2 .popup .close img {
    width: 5vw;
  }
}

/* #Footer Contact
================================================== */
.footer-contact {
  padding: 2vw 1.5vw 2.86vw 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #F2F2F2;
}

.footer-contact .form {
  margin: 1.8vw 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.footer-contact input {
  color: black;
  transition: all .4s ease;
  width: 100%;
  background-color: white;
  border: none;
  border-radius: .5vw;
  resize: none;
  padding: .5vw;
  flex: 0 0 24%;
} 

.footer-contact input {
  height: 2.5vw;
  margin-bottom: 1.8vw;
}

.footer-contact input::placeholder {
  color: #909090;
}

@media (max-width: 1023.98px) {
  .footer-contact {
    padding: 9.17vw 0vw 14vw 0vw;
  }

  .footer-contact h2 {
    margin-bottom: 2vw;
  }
  
  .footer-contact .form {
    margin: 4.8vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .footer-contact input {
    width: 67%;
    border-radius: 2.41vw;
    padding: 0 2.41vw;
    flex: 0 0 9.17vw;
  } 
  
  .footer-contact input {
    height: 9.17vw;
    margin-bottom: 3.14vw;
  }
}

/* #Footer Main
================================================== */
.footer-main {
  background-color: #BC2729;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2vw 0;
}

.footer-main img {
  width: 22.13vw;
  margin-bottom: 1vw;
}

.footer-main p.bold {
  margin-bottom: .75vw;
}

@media (max-width: 1023.98px) {
  .footer-main {
    padding: 10.6vw 0 8vw 0;
  }
  
  .footer-main img {
    width: 80vw;
    margin-bottom: 5.8vw;
  }
  
  .footer-main p.bold {
    margin-bottom: 0;
    margin: 7.25vw 0;
  }
}